.product{
    width: 280px;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: width 1s;
    border-radius: 8px;
}

.product:hover{
    width: 300px;
}
.product>img{
    height: 150px;
    border-radius: 8px;
}

product_info>p{
    margin-bottom: 8px;
}

.info_price{
    font-weight: bold;
    margin: 5px;

}

.info_name{
    font-size: 1rem;
    overflow: hidden ;
}

.info_description{
    font-size: 0.8rem;
    overflow: hidden;
    /* border: 1px solid rgb(59, 92, 236); */
    border-radius: 8px;
    padding: 5px 5px;
    background: rgb(59, 92, 236);
    color: antiquewhite;
}

.info_button{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(59, 92, 236);
    color: aliceblue;
    padding: 8px 16px;
    border: 1px solid #223ba8;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 0.6em;
}

.info_button:hover{
    background-color: aliceblue;
    color: rgb(59, 92, 236);
    border-color: #223ba8;
}

